coredns_helm_values:
  replicaCount: 1

cilium_helm_values:
  operator:
    replicas: 1

valkey_helm_values:
  replica:
    replicaCount: 1

ingress_nginx_helm_values:
  controller:
    config:
      worker-processes: 1

percona_xtradb_cluster_spec:
  allowUnsafeConfigurations: true
  pxc:
    size: 1
  haproxy:
    size: 1

csi_driver: rbd
atmosphere_network_backend: ovn